{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "allowImportExportEverywhere": "true"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "no-console": "off",
    "prettier/prettier": "off",
    "quotes": ["error", "single"],
    "eqeqeq": ["error", "smart"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-extra-boolean-cast": "off"
  }
}
